  a{
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
    line-height: 0.5;
    text-align: left;
    position: relative;
    left: -30px;
  }
  
footer {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: white;
  background-color: black;
}

.card {
  background-color: rgba(243, 237, 237, 0.2);
}

  .search-bar {
    position: relative;
    width: 100%;
  }
  .units {
    font-size: 11px;
    font-weight: 200;
    line-height: 1.5;
    text-align: left;
    position: relative;
    top: -21px;
  }
  
  .forecast-img {
    height: 90px;
    position: relative;
    top: -10px;
  }

  .forecast-temp, 
  .daytime {
    position: relative;
    top: -15px;
  }

  .today .col-3 {
    text-align: center;
  }
   
  .week .col-2 {
    text-align: center;
  }
  .weather-diagram {
    width: 100%;
  }
  .degrees,
  .date {
    font-size: 15px;
  }
  .day,
  .daytime {
    font-size: 20px;
    font-weight: bold;
  }

  .temp-display .active {
    color: white; 
    cursor: default;
  }
  
  #current-Location-button {
    color: white;
    background-color: rgba(51, 124, 178, 0.5);
  }
  
  #current-date {
    font-size: 13px;
    font-weight: lighter;
    position: relative;
    left: 15px;
  }
  
  #current-city {
    line-height: 25px;
    font-size: 25px;
    position: relative;
    left: 15px;
  }
  
  #current-temp {
    font-size: 30px;
    position: relative;
    top: -8px;
  }

  #weather-icon {
    width: 55px;
    height: auto;
    position: relative;
    top: -16px;
  }
  